@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
}


h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
}

img{
    max-width: 100%;
}

li, a, a:hover{
    list-style: none;
    text-decoration: none;
}
 .container{
    max-width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    max-width: 50%;
    flex: 1 0 50%;
} 

 header{
    background: #fff;
    position: relative;
}
.bg{

background: #015761;

position: relative;
}
.content{
    padding: 30px 40px 0px;
}
.content a{}
.content a span{
    font-size: 30px;
    color: #F7DC4F;
    font-weight: 500;
    text-transform: capitalize;
}
nav{}
nav ul{
    display: flex;
}
nav ul li{}
nav ul li a{
    font-size: 17px;
    font-weight: 700;
    display: block;
    text-transform: capitalize;
    color: #fff;
    transition-duration: 0.3s;
    position: relative;
    margin: 20px 30px 20px 0px;
}
nav ul li a:hover{
    color: #f7dc4f;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
    -moz-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(8 117 247);
    transition: transform 0.3s;
}

nav ul li a:hover::after{
    -webkit-transform: translateX(-50%) scaleX(1);
    -moz-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);

}
.inner-content{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.inner-content h5{
    font-size: 20px;
    color: #f7dc4f;
    font-weight: 500;
}
.inner-content h1{
    font-size: 50px;
    line-height: 45px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 15px 0px;
}
.inner-content p{
    font-size: 14px;
    color: #FFF;
    font-weight: 100;
}
.shadow{}
.image-box{
}
.image-box img{
    padding: 0px 15px 15px 0px;
}

 .social-media{position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.social-media ul{
    display: inline-block;
    background: #f7dc4f;
    padding: 15px 10px;
}
.social-media ul li{}
.social-media ul li a{
    display: flex;
    font-size: 20px;
    color: #101010;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.social-media ul li a:hover{
    
color: #015761;
    
transform: scale(0.8);
}
.social-media ul li a i{
} 
/* header */


 .about-us{
    background: #f1f0f0;
    padding: 70px 0px;
    text-align: center;
}
.about-content{}
.about-content h3{
    font-size: 25px;
    font-weight: 800;
    color: #015761;
}
.about-content p{
    font-size: 16px;
    max-width: 600px;
    margin: 25px auto;
    line-height: 26px;
}
.about-content a{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #015b65;
    background: #f7dc4f;
    padding:  12px 18px;
    border: 1px solid #f7dc4f;
    transition: all 0.3s ease;
} 
.about-content a:hover{
    background: transparent;
}
/* about us */
.show-section{
    padding: 50px 0px;
    text-align: center;
    position: relative;
}

.inner-show{
    position: relative;

}
.show-section h2{
    font-size: 40px;
    color: #015761;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 50px;
}


.add-video{
    
max-width: 100%;
    
max-height: 100%;
} 


.inner-show .overlay{
  height:100%;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:1;
  background:#225470;
  opacity: 0.55;
  overflow: hidden;
}
 

/* showrell */
.col-3{

max-width: 33.33%;

flex: 1 0 33.33%;

}

.photos-section{
    text-align: center;
    padding: 0px 30px;
}
.photos-title{}
.photos-title h2{
    font-size: 40px;
    color: #015761;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 50px;
}
.inner-photos{
    margin: 6px 9px;
}
.inner-photos img{
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.inner-photos img:hover{
    opacity: 0.5;
}



/* gallery */
.contact-section{
    padding: 50px 0px 20px;
}
.inner-contact{
    background: #015761;
    padding: 80px  100px 37px;
}
.inner-contact h2{
    font-size: 40px;
    color: #f7dc4f;
    font-weight: 800;
    line-height: 50px;
}
.inner-contact h3{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
}

.info{margin: 20px 0px;}
.info .name{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.info li{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 25px;
}

.social-foot{
}
.social-foot ul{
    display: flex;
    flex-wrap: wrap;
}
.social-foot ul li{
}
.social-foot ul li a{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.3s ease;
}
.social-foot ul li a:hover{
    color: #f7dc4f;
}
.image-box2{
}
.image-box2 img{
    height: 100vh;
    object-fit: cover;
    object-position: right;
}

/* contact */

footer{
    background: #fff;
    padding: 20px 0px;
    text-align: center;
}
footer p{
    font-size: 14px;
    color: #101010;
    font-weight: 300;
}
footer p span{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
}
/* footer */






















@media (max-width: 1300px){ 
  nav ul li a {
    font-size: 15px;
    font-weight: 500;
    
}

.inner-content h5 {
    font-size: 18px;

}

.inner-content h1 {
    font-size: 40px;
    margin: 5px 0px;
}

.inner-contact {
    padding: 50px 100px 26px;
}



}
  

@media (max-width: 1200px){ 








}





